Flask==1.0.2
google-api-core==1.7.0
google-auth==1.6.3
google-cloud-vision==0.35.2
googleapis-common-protos==1.5.8
matplotlib==2.2.3
notebook>=5.7.8
numpy==1.16.0
opencv-python==4.0.0.21
Pillow==8.2.0
pytesseract==0.2.6
requests==2.21.0
